<!DOCTYPE html>
<html>

<head>
    <title>MeuApp</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <header>
        <img src="" alt="Digital House">
        <nav>
            <ul>
                <li><a href="/">Cursos</a></li>
                <li><a href="/estudantes">Estudantes</a></li>
                <li><a href="/contato">Contato</a></li>
            </ul>
        </nav>
    </header>