body {
    font-family: sans-serif;
    background-color: purple;

}

p {
    font-size: 14px;
    font-weight: bold;
    text-align: justify;
    line-height: 20px;
}

h2 {
    font-style: italic;
    text-align: center;
}

/** Seletor de tag **/
h1 {
    text-transform: uppercase;
    text-align: center;
}

/** Seletor de ID **/
#saudacao {
    color: blue;
}

/** Seletores de classe **/
.titulo {
    font-size: 22px
}

/** Seletores combinados **/
h2.subtitulo {
    color:yellow
}

/** Seletores descendentes**/
ul#lista li{
    text-align:center
}
