body {
    font-family: sans-serif;
    background-color: #ddb8dd;
    /* background-image: url(../23-08/outraimagem.jpg); */
    /*background-size: 100%;*/
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
    /* background-repeat: repeat-x; */
    /* background-repeat: repeat-y; */

}

p {
    font-size: 14px;
    font-weight: bold;
    text-align: justify;
    line-height: 20px;
}

h2 {
    font-style: italic;
    text-align: center;
    text-decoration: underline;
}

/** Seletor de tag **/
h1 {
    text-transform: uppercase;
    text-align: center;
}

/** Seletor de ID **/
#saudacao {
    color: rgba(54, 54, 224, 0.5);

}

/** Seletores de classe **/
.titulo {
    font-size: 22px
}

/** Seletores combinados **/
h2.subtitulo {
    color:yellow
}

/** Seletores descendentes**/
ul#lista li{
    text-align:center
}
